
<div class="row">
  <div class="search-container">
    <input type="search" name="search" placeholder="Search..."  >
  </div>

  <div *ngFor="let service of services " class="col-md-3">
    <div class="card" style="width: 18rem;" *ngIf="service.description.includes(motcle) || motcle==null" >

      <img src="{{baseurl}}{{service.image.path}} " class="card-img-top" alt="..." width="200px" height="300px">
      <div class="card-body">
        <h5 class="card-title">{{service.name}}</h5>
        <p class="card-text">Entreprise: {{service.description}} </p>
        <p class="card-text">Description {{service.location}} </p>
        <p class="card-text">Description {{service.image.path}} </p>

        <!-- <button class="btn btn-lg btn-primary" [disabled]="stage.disponible==false" (click)="incrementLike(stage)">like {{stage.nbrInteresse}} </button> -->
        &nbsp;
        &nbsp;
        <!-- <button class="btn btn-sm btn-primary BtnBuy" (click)="delete(stage)"> Delete </button> -->
        &nbsp;
        <!-- "*ngIf="product.quantity>0" -->
      </div>
    </div>
  </div>
</div>
