
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="display: flex; justify-content: space-between; align-items: center;">
        <span>Services</span>
        <button [routerLink]="['service/form']" style="background: none; border: none;">
          <i class="fa-solid fa-plus circular-button" ></i>
        </button>
      </c-card-header>
      <c-card-body>
        <table datatable class="table"
          [attr.hover]="true"
          [attr.responsive]="true"
          [attr.striped]="true"
          align="middle"
          cTable

        >
          <thead cTableColor="light">
            <tr>
              <th scope="col">Service Name</th>
              <th scope="col">Description</th>
              <th scope="col">Location</th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of list; index as i">
              <td>{{ service.name }}</td>
              <td>{{ service.description }}</td>
              <td>{{ service.location }}</td>
              <td>
                <button (click)="deleteService(service)"  style="background: none; border: none;">
                  <i class="fas fa-times delete-icon" ></i>
                </button>
                &nbsp;
                <button routerLink="/service/form" style="background: none; border: none;">
                  <i class="fa-solid fa-pen delete-icon"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
