<div class="search-container">
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" name="search" placeholder="Search..."
      [(ngModel)]="motcle" (input)="search()">
  </form>
</div>

<div class="card-container">
  <div
    *ngFor="let service of services | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index"
    class="card"
    style="width: 18rem;"
    [hidden]="!isMatched(service, motcle)"
  >
    <div class="image-container">
      <img src="{{ baseurl }}{{ service.image.path }}" class="card-img-top" alt="..." width="200px" height="300px">
    </div>

    <div class="card-body">
      <h5 class="card-title">{{ service.name }}</h5>
      <p class="card-text">Description: {{ service.description }}</p>
      <p class="card-text">Location: {{ service.location }}</p>
    </div>
  </div>
</div>

<div class="pagination-container">
  <pagination-controls class="custom-pagination" (pageChange)="onPageChange($event)"></pagination-controls>
</div>
